*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'open sans', sans-serif;
}
body{
    height: 100vh;
    background-color: rgb(211, 208, 208)
}
.header-top{
    background-color: rgb(0, 128, 105);
    height: 100px;
    position: relative;
}
.container{
    display: flex;
    height: 600px;
    margin-top: -75px;
    margin-left: 40px;
    margin-right: 40px;
    display: flex;
}
.container .left-side{
position: relative;
flex: 30%;
background-color: white;
border-right: 1px solid rgba(0, 0, 0, 0.2);
}
.container .right-side{
    position: relative;
    flex: 70%;
    background-color: #e5ddd5;
}
.container .right-side::before{
    content: '';
    position: absolute;
    top:0 ;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(/images/pattern.png);
    opacity: 0.06;
}
.container .left-side .header{
    position: relative;
    width: 100%;
    height: 60px;
    background-color: #ededed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px;
}
.container .left-side .header .userimg img{
    position: relative;
    width: 40px;
    height: 40px;
    overflow: hidden;
    border-radius: 50%;
}
.container .left-side .header .icons{
    display: flex;
    justify-content: space-between;
    width: 100px;
    list-style: none;
    cursor: pointer;
    color: #51585c;
    font-size: 1.5rem;
}
.search-chat{
    position: relative;
    width: 100%;
    height: 50px;
    background: #f6f6f6;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 15px;
}
.search-chat div{
    width: 100%;
}
.search-chat div input{
    width: 100%;
    outline: none;
    border: none;
    background: #fff;
    height: 36px;
    border-radius: 30px;
    font-size: 14px;
    /* padding: 6px; */
    padding-left: 43px;
}
.search-chat div .material-symbols-outlined{
    position: absolute;
    left: 30px;
    top: 14px;
    font-size: 1.2em;
}
.chat-box{
    position: relative;
    height: calc(100% - 120px);
    /* background-color: red; */
    overflow-y: auto;
}
/* ---chat1--- */
.chat-box .block{
    position: relative;
    width: 100%;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    padding: 15px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.06);
    cursor: pointer;
}
.chat-box .block img{
    position: relative;
    width: 45px;
    height: 45px;
    overflow: hidden;
    border-radius: 50%;
    margin-right: 10px;
}
.chat-box .block .details{
    position: relative;
    width: 100%;
}
.chat-box .block .details .list-head{
    /* position: relative; */
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
}
.chat-box .block .details .list-head h4{
    font-size: 1.1em;
    font-weight: 600;
    color: #111;
}
.chat-box .block .details .list-head .time{
    font-size: 0.75em;
    color: #aaa;
}
.message{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.message p{
    color: #aaa;
}

/* ---chat2-- */
.chat-box .block1{
    position: relative;
    width: 100%;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    padding: 15px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.06);
    cursor: pointer;
}
.chat-box .block1 .img1{
    position: relative;
    width: 45px;
    height: 45px;
    overflow: hidden;
    border-radius: 50%;
    margin-right: 10px;
}
.chat-box .block1 .details1{
    position: relative;
    width: 100%;
}
.chat-box .block1 .details1 .list-head1{
    /* position: relative; */
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
}
.chat-box .block1 .details1 .list-head1 h4{
    font-size: 1.1em;
    font-weight: 600;
    color: #111;
}
.chat-box .block1 .details1 .list-head1 .time{
    font-size: 0.75em;
    color: #aaa;
}
.message1{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.message1 p{
    color: #aaa;
}
.message1 b{
    background: #06d755;
    color: #fff;
    min-width: 20px;
    height: 20px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.75em;
}

/* ---chat3-- */
.chat-box .block2{
    position: relative;
    width: 100%;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    padding: 15px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.06);
    cursor: pointer;
}
.chat-box .block2 .img2{
    position: relative;
    width: 45px;
    height: 45px;
    overflow: hidden;
    border-radius: 50%;
    margin-right: 10px;
}
.chat-box .block2 .details2{
    position: relative;
    width: 100%;
}
.chat-box .block2 .details2 .list-head2{
    /* position: relative; */
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
}
.chat-box .block2 .details2 .list-head2 h4{
    font-size: 1.1em;
    font-weight: 600;
    color: #111;
}
.chat-box .block2 .details2 .list-head2 .time{
    font-size: 0.75em;
    color: #aaa;
}
.message2{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.message2 p{
    color: #aaa;
}
.message2 b{
    background: #06d755;
    color: #fff;
    min-width: 20px;
    height: 20px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.75em;
}

/* ---chat4-- */
.chat-box .block3{
    position: relative;
    width: 100%;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    padding: 15px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.06);
    cursor: pointer;
}
.chat-box .block3 .img3{
    position: relative;
    width: 45px;
    height: 45px;
    overflow: hidden;
    border-radius: 50%;
    margin-right: 10px;
}
.chat-box .block3 .details3{
    position: relative;
    width: 100%;
}
.chat-box .block3 .details3 .list-head3{
    /* position: relative; */
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
}
.chat-box .block3 .details3 .list-head3 h4{
    font-size: 1.1em;
    font-weight: 600;
    color: #111;
}
.chat-box .block3 .details3 .list-head3 .time{
    font-size: 0.75em;
    color: #aaa;
}
.message3{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.message3 p{
    color: #aaa;
}

/* ---chat5-- */
.chat-box .block4{
    position: relative;
    width: 100%;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    padding: 15px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.06);
    cursor: pointer;
}
.chat-box .block4 .img4{
    position: relative;
    width: 45px;
    height: 45px;
    overflow: hidden;
    border-radius: 50%;
    margin-right: 10px;
}
.chat-box .block4 .details4{
    position: relative;
    width: 100%;
}
.chat-box .block4 .details4 .list-head4{
    /* position: relative; */
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
}
.chat-box .block4 .details4 .list-head4 h4{
    font-size: 1.1em;
    font-weight: 600;
    color: #111;
}
.chat-box .block4 .details4 .list-head4 .time{
    font-size: 0.75em;
    color: #aaa;
}
.message4{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.message4 p{
    color: #aaa;
}

/* ---chat6-- */
.chat-box .block5{
    position: relative;
    width: 100%;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    padding: 15px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.06);
    cursor: pointer;
}
.chat-box .block5 .img5{
    position: relative;
    width: 45px;
    height: 45px;
    overflow: hidden;
    border-radius: 50%;
    margin-right: 10px;
}
.chat-box .block5 .details5{
    position: relative;
    width: 100%;
}
.chat-box .block5 .details5 .list-head5{
    /* position: relative; */
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
}
.chat-box .block5 .details5 .list-head5 h4{
    font-size: 1.1em;
    font-weight: 600;
    color: #111;
}
.chat-box .block5 .details5 .list-head5 .time{
    font-size: 0.75em;
    color: #aaa;
}
.message5{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.message5 p{
    color: #aaa;
}

/* ---chat7-- */
.chat-box .block6{
    position: relative;
    width: 100%;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    padding: 15px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.06);
    cursor: pointer;
}
.chat-box .block6 .img6{
    position: relative;
    width: 45px;
    height: 45px;
    overflow: hidden;
    border-radius: 50%;
    margin-right: 10px;
}
.chat-box .block6 .details6{
    position: relative;
    width: 100%;
}
.chat-box .block7 .details7 .list-head7{
    /* position: relative; */
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
}
.chat-box .block6 .details6 .list-head6 h4{
    font-size: 1.1em;
    font-weight: 600;
    color: #111;
}
.chat-box .block6 .details6 .list-head6 .time{
    font-size: 0.75em;
    color: #aaa;
}
.message6{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.message6 p{
    color: #aaa;
}
.message6 b{
    background: #06d755;
    color: #fff;
    min-width: 20px;
    height: 20px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.75em;
}

.container .right-side .header{
    position: relative;
    width: 100%;
    height: 60px;
    background-color: #ededed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px;
}
.container .right-side .header .userimg img{
    position: relative;
    width: 40px;
    height: 40px;
    overflow: hidden;
    border-radius: 50%;
}
.container .right-side .header .icons{
    display: flex;
    justify-content: space-between;
    width: 100px;
    list-style: none;
    cursor: pointer;
    color: #51585c;
    font-size: 1.5rem;
}
.right-side .header .userimg .img-text{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
.right-side .header .userimg .img-text h4{
    font-weight: 400;
    line-height: 1.2em;
    margin-left: 15px;
}
.right-side .header .userimg .img-text h4 span{
    color: #555;
    font-size: 0.8em;
}
.chatbox{
    position: relative;
    width: 100%;
    height: calc(100% - 100px);
    padding: 50px;
    overflow-y: auto;
}
.message-my {
    position: relative;
    display: flex;
    width: 100%;
    margin: 5px 0;
    justify-content: flex-end;
   
}
.message-my p{
    position: relative;
    right: 0;
    text-align: right;
    max-width: 65%;
    padding: 12px;
    background: #dcf8c6;
    border-radius: 10px;
    font-size: 0.9em;
}
.message-my p::before{
    content: '';
    position: absolute;
    top: 0;
    right:-12px;
    width: 20px;
height: 20px;
background: linear-gradient(135deg,#dcf8c6 0%,#dcf8c6 50%,transparent 50%,transparent);
}
.message-my p span{
    display: block;
    margin-top: 5px;
    font-size: 0.85em;
    opacity: 0.5;
}
.message-frnd {
    position: relative;
    display: flex;
    width: 100%;
    margin: 5px 0;
    justify-content: flex-start;


}
.message-frnd p{
    position: relative;
    right: 0;
    text-align: right;
    max-width: 65%;
    padding: 12px;
    background: #fff;
    border-radius: 10px;
    font-size: 0.9em;
    text-align: left;
}
.message-frnd p::before{
    content: '';
    position: absolute;
    top: 0;
 left:-12px;
    width: 20px;
height: 20px;
background: linear-gradient(225deg,#fff 0%,#fff 50%,transparent 50%,transparent);
}
.message-frnd p span{
    display: block;
    margin-top: 5px;
    font-size: 0.85em;
    opacity: 0.5;
}
.chat-input{
    position: relative;
    width: 100%;
    height: 60px;
    background: #f0f0f0;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.chat-input .material-symbols-outlined{
    cursor: pointer;
    font-size: 1.8rem;
    color: #51585c;
}
.chat-input input{
    position: relative;
    width: 90%;
margin: 0 20px;
padding: 10px 20px;
border: none;
outline: none;
border-radius: 30px;
font-size: 1em;

}